.header img {
    padding: 1%;
    background-color: white;
    padding: 10px
    object-fit: cover;
}

body {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    text-align: center;
}

#figcaption {
    text-align: left;
    padding-left: 10%;
}

#link {
    color:gold;
}